ansible.log

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Vars configurations
host_vars/
!host_vars/host_name.sample

group_vars/
!group_vars/all.sample
!group_vars/network.sample
!group_vars/sentry.sample

inventory

# Molecule python environment
molecule-venv/

# Ignore ansible galazy roles
roles/jnv.unattended-upgrades/
roles/singleplatform-eng.users/
roles/cloudalchemy.node_exporter/
roles/gantsign.golang/
