# Defaults for rkhunter automatic tasks
# sourced by /etc/cron.*/rkhunter and /etc/apt/apt.conf.d/90rkhunter
#
# This is a POSIX shell fragment
#

# Set this to yes to enable rkhunter daily runs
# (default: true)
CRON_DAILY_RUN="{{ rkhunter_cron_daily_run }}"

# Set this to yes to enable rkhunter weekly database updates
# (default: true)
CRON_DB_UPDATE="{{ rkhunter_cron_db_update }}"

# Set this to yes to enable reports of weekly database updates
# (default: false)
DB_UPDATE_EMAIL="{{ rkhunter_db_update_email }}"

# Set this to the email address where reports and run output should be sent
# (default: root)
REPORT_EMAIL="{{ rkhunter_report_email }}"

# Set this to yes to enable automatic database updates
# (default: false)
APT_AUTOGEN="{{ rkhunter_apt_autogen }}"

# Nicenesses range from -20 (most favorable scheduling) to 19 (least favorable)
# (default: 0)
NICE="0"

# Should daily check be run when running on battery
# powermgmt-base is required to detect if running on battery or on AC power
# (default: false)
RUN_CHECK_ON_BATTERY="false"
