abci = "socket"
chain-id = "{{ validator_chain_id }}"
db_backend = "goleveldb"
db_dir = "data"
fast_sync = true
filter_peers = false
genesis_file = "config/genesis.json"
log_format = "plain"
log_level = "*:error"
moniker = "node"
node = "http://127.0.0.1:46657"
node_key_file = "config/node_key.json"
priv_validator_key_file = "config/priv_validator_key.json"
priv_validator_laddr = ""
priv_validator_state_file = "data/priv_validator_state.json"
prof_laddr = "localhost:6060"
proxy_app = "tcp://127.0.0.1:46658"
trust-node = false

[consensus]
  create_empty_blocks = true
  create_empty_blocks_interval = "0s"
  peer_gossip_sleep_duration = "100ms"
  peer_query_maj23_sleep_duration = "2s"
  skip_timeout_commit = false
  timeout_commit = "5s"
  timeout_precommit = "1s"
  timeout_precommit_delta = "500ms"
  timeout_prevote = "1s"
  timeout_prevote_delta = "500ms"
  timeout_propose = "3s"
  timeout_propose_delta = "500ms"
  wal_file = "data/cs.wal/wal"

[fastsync]
  version = "v0"

[instrumentation]
  max_open_connections = 3
  namespace = "tendermint"
  prometheus = false
  prometheus_listen_addr = ":26660"

[mempool]
  broadcast = true
  cache_size = 10000
  max_tx_bytes = 1048576
  max_txs_bytes = 1073741824
  recheck = true
  size = 5000
  wal_dir = ""

[p2p]
  addr_book_file = "config/addrbook.json"
  addr_book_strict = false
  allow_duplicate_ip = false
  dial_timeout = "3s"
  external_address = ""
  flush_throttle_timeout = "100ms"
  handshake_timeout = "20s"
  max_num_inbound_peers = 40
  max_num_outbound_peers = 10
  max_packet_msg_payload_size = 1024
{% if node_config_update is defined and node_config_update %}
{% if inventory_hostname in groups['sentry'] %}
  laddr = "tcp://0.0.0.0:46656"
  seeds = "c00e2f8ff7f521cc6385dcc4ad4c7053d9895e9e@167.99.194.126:46656"
  persistent_peers=""
  pex = true
  private_peer_ids = "{% for id in validator_ids %}{{ id }},{% endfor %}"
{% elif sentry_config is defined %}
  laddr = "tcp://127.0.0.1:46656"
  seeds = ""
  persistent_peers="{% for sentry in sentry_config %}{{ sentry["id"] }}@{{ sentry["private_address"] }}:46656,{% endfor %}"
  pex = false
  private_peer_ids = ""
  double_sign_check_height = 10
{% endif %}  
{% else %} 
  laddr = "tcp://127.0.0.1:46656"
  seeds = "c00e2f8ff7f521cc6385dcc4ad4c7053d9895e9e@167.99.194.126:46656"
  persistent_peers=""
  pex = false
  private_peer_ids = ""
{% endif %} 
  persistent_peers_max_dial_period = "0s"    
  recv_rate = 5120000
  seed_mode = false
  send_rate = 5120000
  unconditional_peer_ids = ""
  upnp = false

[rpc]
  cors_allowed_headers = ["Origin","Accept","Content-Type","X-Requested-With","X-Server-Time"]
  cors_allowed_methods = ["HEAD","GET","POST"]
  cors_allowed_origins = []
  grpc_laddr = ""
  grpc_max_open_connections = 900
  laddr = "tcp://127.0.0.1:46657"
  max_body_bytes = 1000000
  max_header_bytes = 1048576
  max_open_connections = 900
  max_subscription_clients = 100
  max_subscriptions_per_client = 5
  timeout_broadcast_tx_commit = "10s"
  tls_cert_file = ""
  tls_key_file = ""
  unsafe = false

[tx_index]
  index_all_keys = true
  index_keys = ""
  indexer = "kv"
