{% if rkhunter_config_local.allowhiddendir is defined %}
{% for hiddendir in rkhunter_config_local.allowhiddendir %}
ALLOWHIDDENDIR={{ hiddendir }}
{% endfor %}
{% endif %}

{% if rkhunter_config_local.allowhiddenfile is defined %}
{% for hiddenfile in rkhunter_config_local.allowhiddenfile %}
ALLOWHIDDENFILE={{ hiddenfile }}
{% endfor %}
{% endif %}

{% if rkhunter_config_local.allowdevfile is defined %}
{% for devfile in rkhunter_config_local.allowdevfile %}
ALLOWDEVFILE={{ devfile }}
{% endfor %}
{% endif %}

{% if rkhunter_config_local.scriptwhitelist is defined %}
{% for whitelist in rkhunter_config_local.scriptwhitelist %}
SCRIPTWHITELIST={{ whitelist }}
{% endfor %}
{% endif %}

{% if rkhunter_config_local.pwdless_accounts is defined %}
{% for pwdless_account in rkhunter_config_local.pwdless_accounts %}
PWDLESS_ACCOUNTS={{ pwdless_account }}
{% endfor %}
{% endif %}

{% if rkhunter_config_local.otherrules is defined %}
{% for otherrules in rkhunter_config_local.otherrules %}
{{ otherrules }}
{% endfor %}
{% endif %}
