#!/bin/bash


EMAIL_TO={{ lynis_admin_notitification_email }}
AUDITOR="automated"
DATE=$(date +%Y%m%d)
HOST=$(hostname -s)
LOG_DIR="/var/log/lynis"
REPORT="$LOG_DIR/report-${HOST}.${DATE}"
DATA="$LOG_DIR/report-data-${HOST}.${DATE}.txt"
LOG="$LOG_DIR/report-log-${HOST}.${DATE}.log"
LYNIS_DIR={{ lynis_home_dir }}/lynis
LYNIS=${LYNIS_DIR}/lynis
MAIL=/usr/bin/mail

EMAIL_MSG="Please see the log file attached."

mkdir -p ${LOG_DIR}

cd ${LYNIS_DIR}

# Run Lynis
${LYNIS} audit system --auditor "${AUDITOR}" --cronjob > ${REPORT}
EXIT_CODE=$?

if [ "$EXIT_CODE" -ne "0" ]; then 
    # Optional step: Move report file if it exists
    if [ -f /var/log/lynis-report.dat ]; then
	    mv /var/log/lynis-report.dat ${DATA}
    fi
    if [ -f /var/log/lynis.log ]; then
	    mv /var/log/lynis.log ${DATA}
    fi

    # Send report via email
    echo "$EMAIL_MSG"|mutt "$EMAIL_TO" -s "Lynis vulnerabilities report (${HOST})" -a "${REPORT}";

    #${MAIL} -s "Lynis Report for ${HOST}" ${EMAILTO} < ${REPORT}
fi
